@import url("https://fonts.googleapis.com/css2?family=Spline+Sans&family=Work+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Spline Sans", sans-serif;
}

.content{
  margin: 0 0;
  padding: 0 0;
}

body::-webkit-scrollbar{
	transition: .3s ease all;
	width: 8.5px;
	background: rgba(220, 80, 255, 0.65);
    }

body::-webkit-scrollbar-thumb{
	background: rgba(204, 0, 255, 0.65);
	border-radius: 8.5px;
}


.navbar{
    background: rgba(220, 80, 255, 0.65);
    backdrop-filter: blur(10px);
}

.boton-header{
  color: #EA94FF;
  padding: 0 1rem;
}

.boton-header:hover{
  color: #de5bff;
}

.favicon {
  margin-right: 0.5rem;
}

.encabezado{
    margin-top: 5rem !important;
}

.boton {
  height: 100%;
  padding: 0.6rem 1.5rem;
  margin: 0 0.2rem;
}

.boton:hover{
    transition: .3s ease all;
    border-radius: 1rem;
}

.principal-banner{
  height: 100vh;
  width: 100%;
  background-image: url("../images/fondoBanner.jpg");
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.contenedor-banner-principal{
  height: 100%;
  width: 100%;
  backdrop-filter: brightness(0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-texto-banner{
  color: white;
  font-size: 2.5rem;
  padding: 0 13rem;
  text-align: center;
}

.boton-banner-1{
  padding: 1rem 8rem;
  margin-top: 3rem;
  border: solid white .3rem;
  border-radius: 50px;
  font-size: 1.3rem;
}

.banner-proveedores{
  width: 100%;
  height: 24rem;
  overflow: hidden;
}

.contenedor-proveedores{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 3rem;
}

.images-proveedores{
  width: 100%;
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagen-proveedores{
  width: 25%;
}

.productos-banner{
  height: 70vh;
  width: 100%;
  background-image: url("../images/playa.jpg");
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.boton-productos{
  background-color: #DC50FF;
  border: none;
  border-radius: 5px;
  padding: 1rem 13rem;
  margin-top: 2rem;
}

.boton-productos:hover{
  background-color: #d429ff;
  color: white;
  transition: .3s ease all;
}

.banner-comentarios{
  width: 100%;
  height: auto;
  overflow: hidden;
}

.contenedor-comentarios{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 3rem;
}

.comentarios{
  width: 100%;
  padding: 3rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  margin: 1rem 2rem !important;
}

.footer {
  background: linear-gradient(to right, #CC00FF, #2400FF);
  color: #fff;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .contenedor-texto-banner{
    font-size: 1.5rem;
    padding: 0 2rem;
    margin-top: 2rem;
  }

  .boton-banner-1{
    padding: 1rem 3rem;
    margin-top: 2rem;
    font-size: 1rem;
  }

  .banner-proveedores{
    height: auto;
  }

  .images-proveedores{
    flex-direction: column;
  }

  .imagen-proveedores{
    margin: 1rem;
    width: 10rem;
    height: auto;
  }

  .boton-productos{
    padding: 1rem 5rem;
    margin-top: 2rem;
    font-size: 1rem;
  }

  .margenSuperior{
    margin-top: 3rem;
  }

  .footer {
    font-size: 0.8rem;
  }
  .boton {
    width: 100%;
    margin: 0.5rem 0;
  }
}
